\:root
  --brand-primary:      #{$primary}
  --brand-secondary:    #{$secondary}
  --brand-positive:     #{$positive}
  --brand-negative:     #{$negative}
  --brand-white:        #{$white}
  --brand-black:        #{$black}

.text-black
  color: var(--brand-black) !important
.bg-black
  background: var(--brand-black) !important

.text-primary
  color: var(--brand-primary) !important
.bg-primary
  background: var(--brand-primary) !important

.text-secondary
  color: var(--brand-secondary) !important
.bg-secondary
  background: var(--brand-secondary) !important

.text-positive
  color: var(--brand-positive) !important
.bg-positive
  background: var(--brand-positive) !important

.text-negative
  color: var(--brand-negative) !important
.bg-negative
  background: var(--brand-negative) !important

.text-white
  color: var(--brand-white) !important
.bg-white
  background: var(--brand-white) !important

.text-black
  color: var(--brand-black) !important
.bg-black
  background: var(--brand-black) !important

.text-transparent
  color: transparent !important
.bg-transparent
  background: transparent !important

.text-separator
  color: $separator-color !important
.bg-separator
  background: $separator-color !important
